<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MoeGirl1</key>
	<dict>
		<key>Id</key>
		<integer>1</integer>
		<key>Name</key>
		<string>萌娘001</string>
		<key>Description</key>
		<string>小可爱</string>
		<key>GroupId</key>
		<integer>0</integer>
		<key>Detail</key>
		<string>可爱的双马尾女孩&lt;br&gt;“初次见面，请多关照” &lt;br&gt;</string>
		<key>RareLevel</key>
		<integer>4</integer>
		<key>FightLevel</key>
		<integer>2</integer>
	</dict>
	<key>MoeGirl2</key>
	<dict>
		<key>Id</key>
		<integer>2</integer>
		<key>Name</key>
		<string>萌娘002</string>
		<key>Description</key>
		<string>小调皮</string>
		<key>GroupId</key>
		<integer>2</integer>
		<key>Detail</key>
		<string></string>
		<key>RareLevel</key>
		<integer>3</integer>
		<key>FightLevel</key>
		<integer>4</integer>
	</dict>
	<key>MoeGirl3</key>
	<dict>
		<key>Id</key>
		<integer>3</integer>
		<key>Name</key>
		<string>萌娘003</string>
		<key>Description</key>
		<string>小懒懒</string>
		<key>GroupId</key>
		<integer>1</integer>
		<key>Detail</key>
		<string></string>
		<key>RareLevel</key>
		<integer>3</integer>
		<key>FightLevel</key>
		<integer>1</integer>
	</dict>
	<key>MoeGirl4</key>
	<dict>
		<key>Id</key>
		<integer>4</integer>
		<key>Name</key>
		<string>萌娘004</string>
		<key>Description</key>
		<string>小冷漠</string>
		<key>GroupId</key>
		<integer>1</integer>
		<key>Detail</key>
		<string></string>
		<key>RareLevel</key>
		<integer>1</integer>
		<key>FightLevel</key>
		<integer>2</integer>
	</dict>
	<key>MoeGirl5</key>
	<dict>
		<key>Id</key>
		<integer>5</integer>
		<key>Name</key>
		<string>萌娘005</string>
		<key>Description</key>
		<string>小妖孽</string>
		<key>GroupId</key>
		<integer>2</integer>
		<key>Detail</key>
		<string></string>
		<key>RareLevel</key>
		<integer>2</integer>
		<key>FightLevel</key>
		<integer>3</integer>
	</dict>
	<key>MoeGirl6</key>
	<dict>
		<key>Id</key>
		<integer>6</integer>
		<key>Name</key>
		<string>萌娘006</string>
		<key>Description</key>
		<string>小傲娇</string>
		<key>GroupId</key>
		<integer>2</integer>
		<key>Detail</key>
		<string></string>
		<key>RareLevel</key>
		<integer>1</integer>
		<key>FightLevel</key>
		<integer>2</integer>
	</dict>
	<key>MoeGirl7</key>
	<dict>
		<key>Id</key>
		<integer>7</integer>
		<key>Name</key>
		<string>萌娘007</string>
		<key>Description</key>
		<string>小贪吃</string>
		<key>GroupId</key>
		<integer>2</integer>
		<key>Detail</key>
		<string></string>
		<key>RareLevel</key>
		<integer>3</integer>
		<key>FightLevel</key>
		<integer>1</integer>
	</dict>
	<key>MoeGirl8</key>
	<dict>
		<key>Id</key>
		<integer>8</integer>
		<key>Name</key>
		<string>萌娘008</string>
		<key>Description</key>
		<string>小淡定</string>
		<key>GroupId</key>
		<integer>0</integer>
		<key>Detail</key>
		<string></string>
		<key>RareLevel</key>
		<integer>1</integer>
		<key>FightLevel</key>
		<integer>1</integer>
	</dict>
	<key>MoeGirl9</key>
	<dict>
		<key>Id</key>
		<integer>9</integer>
		<key>Name</key>
		<string>萌娘009</string>
		<key>Description</key>
		<string>小开心</string>
		<key>GroupId</key>
		<integer>2</integer>
		<key>Detail</key>
		<string></string>
		<key>RareLevel</key>
		<integer>1</integer>
		<key>FightLevel</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
